@import '../../../styles/colors.scss';

.menu__switcher {
	height: 64px;
	width: 64px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;

	> svg {
		width: 32px;
		height: 32px;
		color: $white;
	}
}
