@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.button {
	@include btn-primary;
	padding: 8px 40px;
	border: 0;
}

.common {
	position: relative;
	border-bottom: $white 1px solid;
	transition: all ease-in-out 200;
	&:focus-within {
		border-color: $light-blue;
	}

	> label {
		display: block;
		> span {
			display: block;
			font-size: 12px;
			line-height: 16px;
			color: $white;
			text-transform: uppercase;
			margin-bottom: 8px;
		}
	}
}

.field {
	text-align: left;
	margin-bottom: 32px;

	input {
		outline: none;
		border: none;
		background-color: transparent;
		color: $light-grey;
		width: 100%;
		margin: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.error {
	position: absolute;
	bottom: -24px;
	left: 0;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	color: $orange;
}
