$light-blue: #2fc6f7;
$light-blue2: #43b7de;
$blue: #1058d0;
$white: #fff;
$dark-grey: #535c69;
$grey: #717a84;
$light-grey: #eef2f4;
$green: #bbed21;
$dark-green: #92ba1a;
$orange: #f54819;

$canban-blue: #0052a7;
