@import '../../../../styles/colors.scss';
.sidebar {
	height: calc(100vh - 64px);
	width: 64px;
	background: $light-grey;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: all linear 0.08s;
}

.sidebar_opened {
	width: 160px;
}

.item__container {
	width: 100%;
	display: flex;
	cursor: pointer;
	&:hover {
		background-color: $white;
	}
}

.item {
	width: 100%;
	margin: 6px 0 0 12px;
	height: 40px;
	display: flex;
	align-items: center;
	text-decoration: none;
	&:hover {
		background-color: $white;
	}

	> svg {
		z-index: 10;
		height: 32px;
		width: 32px;
		color: $grey;
	}
}

.item_active {
	> svg {
		color: $light-blue;
	}
	.title {
		color: $light-blue;
	}
}

.title {
	z-index: 10;
	margin-left: 12px;
	color: $grey;
}
